services:
  server:
    build: .
    container_name: backendportfolio-server
    volumes:
      - .:/server
      - /server/node_modules
    ports:
      - '8080:8080'
    env_file:
      - .env
    depends_on:
      - database
    command: npm run dev

  database:
    image: postgres:18.1-alpine3.22
    container_name: backendportfolio-db
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
